.workscarrousel {
    background-color: rgb(61, 61, 61);
    color: #FFFFFF;
    width: 100%;
    height: 400px;
}

.worksContainer {
    width: 100%;
    margin-bottom: 166px;
}

.worksCard {
    margin-right: 30px;
    max-width: 270px;
    height: 400px;
}

.worksCard img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}