.success {
    background-color: #252525;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.successline1 {
    position: absolute;
    top: 28px;
    left: 0;
}

.successline2 {
    position: absolute;
    bottom: 7px;
    right: 0;
}

.success h1 {
    font-weight: 600;
    font-size: 35px;
    line-height: 54px;
    color: #FFFFFF;
    margin-bottom: 65px;
}

.success p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    color: #FFFFFF;
    margin-bottom: 75px;
}