.navbar {
    background-color: #252526;
    color: white;
    height: 101px;
    padding: 0 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo img {
    width: 137px;
    height: 40px;
}

.navbar__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 100%;
    font-weight: bold;
    z-index: 3;
}

.navbar__menu--item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 57px;
    height: 48px;

    font-size: 20px;
    font-weight: 500;
    line-height: 115%;
    text-align: center;
    letter-spacing: -0.02em;
}

.navbar__menu--item.active {
    color: #f29422;;
}

.navbar__menu--item:hover {
    color: #f29422;
    cursor: pointer;
}