@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

ul { list-style-type: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; 
}